<div class="jumbotron">
  <%= @collection.inserted_at |> readable_date %>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Resources</h4>
    <ul>
      <li>
        <%= link "Manage Results", to: results_path(@conn, :index) %>
      </li>
    </ul>
  </div>

  <div class="col-lg-6">

  </div>
</div>
